body {
  font-family: sans-serif;
}

#menu {
  margin-left: 55%;
}

#chart{
  margin-left: 13%;
  margin-top: 5%;
}

#chartDescription{
  margin-left: 13%;
}

select {
  width: 200px;
  padding: 3px;
  margin-right: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.legend {
  font-size: 12px;
  fill: #555;
}

.legend rect {
  fill: #aaa;
}

.title {
  font-weight: bold;
  fill: #555;
  margin-left: 22%;
}

.axis line {
  stroke: #eee;
}

.y.axis path {
  display: none;
}

.y.axis text {
  font-size: 11px;
  fill: #777;
  font-weight: bold;
}
